<div class="panel panel-default task" id="task-id-<%= task.id %>">
  <div id="task-<%= task.id %>" role="tab" class="panel-heading">
    <div class="row">
      <div class="col-md-1">
        <div class="btn-group" role="group" data-toggle="buttons">
          <%= mark_as_completed_button_to task,
              icon_completed: 'glyphicon glyphicon-check',
              icon_uncompleted: 'glyphicon glyphicon-unchecked' %>
        </div>
      </div>
      <div class="col-md-7 text-left">
        <h4 class="panel-title">
          <a aria-controls="task-<%= task.id %>" aria-expanded="false" href="#list-<%= task.id %>" data-toggle="collapse" role="button" class=""> <%= task_title task %> / <%= task.user.email %> </a>
        </h4>

      </div>
      <div class="col-md-4 col-xs-12">
        <div class="btn-toolbar btn-group-sm pull-right" role="toolbar">
          <div class="btn-group subtasks-count" role="group">
            <a href="#list-<%= task.id %>" data-toggle="collapse" class="btn btn-default btn-sm" type="button">
              <span class="badge"><%= task.subtasks.count %></span> subtasks
            </a>
          </div>
          <div class="btn-group" role="group">
            <%= link_to new_task_subtask_path(task), remote: true, class: 'btn btn-primary btn-sm' do %>
              <%= content_tag :span, '', "aria-hidden" => "true", class: "glyphicon glyphicon-plus" %>
            <% end %>
          </div>

          <div class="btn-group" role="group">
            <%= link_to edit_task_path(task), remote: true, class: 'btn btn-info btn-sm' do %>
              <%= content_tag :span, '', "aria-hidden" => "true", class: "glyphicon glyphicon-edit" %>
            <% end %>
          </div>

          <div class="btn-group" role="group" data-toggle="buttons">
            <%= mark_privacy_button_to task %>
          </div>

          <div class="btn-group" role="group">
            <%= button_to task, class: 'btn btn-danger btn-sm', remote: true, method: :delete do %>
              <%= content_tag :span, '', "aria-hidden" => "true", class: "glyphicon glyphicon-trash" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div aria-labelledby="task-<%= task.id %>" role="tabpanel" class="panel-collapse collapse subtask" id="list-<%= task.id %>" aria-expanded="true" style="">
    <ul class="list-group">
      <%= render partial: "subtasks/subtask", collection: task.subtasks %>
    </ul>
  </div>
</div>
